.about {

  &__container {
    padding-bottom: 3.5rem;
    text-align: center;

    @include breakpoint-up(large){
      display: flex;
      text-align: left;
      justify-content: space-between;
    }
  }

  &__intro-container {
    padding-top: 0.5rem;

    @include breakpoint-up(large){
      padding: 0;
      padding-left: 1.5rem;
    }
  }

  &__intro {

    h2 {

      @include breakpoint-up(large){
        font-size: 2.375rem;
      }
    }

    p {
      padding-top: 1rem;
      padding-bottom: 3rem;
      
      @include breakpoint-up(small){
        max-width: 70%;
        margin: 0 auto;
      }

      @include breakpoint-up(large){
        max-width: 70%;
        margin: 0;
      }
    }
  }

  &__cards {
    padding-left: 1rem;

    @include breakpoint-up(small){
      text-align: left;
      padding-left: 5rem;
    }

    @include breakpoint-up(large){
      max-width: 50%;
    }

    p { 
      margin-top: 0.5rem;
      margin-bottom: 3rem;
      padding-right: 1rem;
      text-align: left;

      @include breakpoint-up(small){
        padding-left: 5rem;
        max-width: 80%;
      }

      @include breakpoint-up(large){
        padding-left: 5.8125rem;
        max-width: 100%;
      }
    }
  }

  &__card:last-child{
      
    p {
      margin-bottom: 0;
    }
  }

  &__cardTitle {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: $bold;
    background: $very-pale-red;
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;

    @include breakpoint-up(large){
      background: none;
    }

    span {
      padding: 0.5625rem 1.375rem;
      padding-top: 0.4375rem;
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: $bold;
      box-shadow: none;
      cursor: auto;

      @include breakpoint-up(large){
        margin-right: 1.875rem;
      }
    }

    .button {

      &::after {
        visibility: hidden;
      }
    }

    h3 {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}