
//* Default stylings

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: $reg;
  line-height: 1.3;
  scroll-behavior: smooth;

  &.noscroll {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  color: $dark-blue;
}

h2 {
  font-size: 1.875rem;
  font-weight: $xbold;
  line-height: 1.5;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: $dark-grayish-blue;
  font-size: 0.875rem;
  line-height: 1.9;
}

a, a:visited, a:hover {
  text-decoration: none;
}

button, .button {
  position: relative;
  padding: 0.8125rem 2rem;
  background: $bright-red;
  color: $very-light-gray;
  font-size: $font-sm;
  font-weight: $bold;
  border-radius: 1.875rem;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 7px 14px rgba(242,95,58,0.4);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    transition: all 0.2s ease-in-out;
  }

  &:hover::after {
    content: "";
    background: $very-light-gray;
    opacity: 0.4;
  }
}

ul {
  list-style: none;
}

input {
  text-decoration: none;
  border: none;
}


//* Flexbox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}




//* Helper classes


// Visibility

.hide-for-mobile {
  @include breakpoint-down(large){
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large){
    display: none;
  }
}


// Spacing

.container {
  max-width: 69.375rem;
  margin: 0 auto;

  &--pall {
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
  }
  &--py {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--pt {
    padding-top: 2.5rem;
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 2.5rem;
  }
  &--pl {
    padding-left: 1.5rem;
  }
}