

//* Colors

// Primary
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

// Neutral
$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);



//* Typography

// Font Sizes
$font-sm: 0.8125rem;
$font-med: 1.125rem;
$font-lg: 2.4375rem;
$font-xlg: 3rem;

// Font weights
$reg: 400;
$med: 500;
$bold: 700;